node_modules/

npm-debug.log
yarn-error.log

logs
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

dist/

*.tsbuildinfo

.env
.env.*

*.pem
*.key
*.csr

.AppleDouble
.AppleDesktop
