node_modules/

npm-debug.info
yarn-error.info

logs
*.info

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

dist/

*.tsbuildinfo

.env.dev
.env.prod

*.pem
*.key
*.csr

.AppleDouble
.AppleDesktop
